<a href="https://colab.research.google.com/github/ksmitty99/CSE210-Final-Project/blob/main/Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import altair as alt
import numpy as np
import matplotlib

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import metrics

In [ ]:
denver = pd.read_csv('https://github.com/byuidatascience/data4dwellings/raw/master/data-raw/dwellings_denver/dwellings_denver.csv')
denver_ml = pd.read_csv('https://github.com/byuidatascience/data4dwellings/raw/master/data-raw/dwellings_ml/dwellings_ml.csv')

In [ ]:
denver_ml.columns

In [ ]:
features = denver_ml.drop(columns = ['before1980', 'yrbuilt','parcel'])
# features = denver_ml.filter(['livearea','basement', 'stories', 'nocars', 'numbaths','condition_AVG','netprice','arcstyle_ONE-STORY','arcstyle_ONE AND HALF-STORY'])

targets = denver_ml.before1980

x_train, x_test, y_train, y_test = train_test_split(features, targets, test_size = .34, random_state = 50000)

features

       abstrprd  livearea  finbsmnt  ...  qualified_U  status_I  status_V
0          1130      1346         0  ...            0         1         0
1          1130      1249         0  ...            0         1         0
2          1130      1346         0  ...            0         1         0
3          1130      1146         0  ...            0         1         0
4          1130      1249         0  ...            1         1         0
...         ...       ...       ...  ...          ...       ...       ...
22908      1130       955         0  ...            0         1         0
22909      1130       955         0  ...            0         1         0
22910      1130       955         0  ...            1         1         0
22911      1130      1219         0  ...            1         1         0
22912      1130      1041         0  ...            0         1         0

[22913 rows x 48 columns]

***Question 1***

In [ ]:
q1_df = denver_ml.value_counts(['before1980','numbaths']).reset_index().rename(columns={0:'count'})
q1_chart1 = alt.Chart(q1_df).mark_bar().encode(x = 'numbaths:Q', y ='count:Q')
# q1_chart1

q1_df2 = denver_ml.value_counts(['before1980','stories']).reset_index().rename(columns={0:'count'})
q1_chart2 = alt.Chart(q1_df2).mark_bar().encode(x = 'stories', y ='count')
# q1_chart2

q1_df3 = denver_ml.value_counts(['before1980','numbdrm']).reset_index().rename(columns={0:'count'})
q1_chart3 = alt.Chart(q1_df3).mark_bar().encode(x = 'numbdrm', y ='count')
# q1_chart3

**Question 2**

Gaussian Naive Bayes

In [ ]:
#initialize empty classifier
classifier_GNB = GaussianNB()
#train model
classifier_GNB.fit(x_train, y_train)
#make predictions
y_predicted_GNB = classifier_GNB.predict(x_test)
#test accuracy
metrics.accuracy_score(y_test, y_predicted_GNB)

0.666923373122834

Decision Tree

In [ ]:
classifier_DT = DecisionTreeClassifier(max_depth=80)

classifier_DT.fit(x_train,y_train)

y_predicted_DT = classifier_DT.predict(x_test)
#test accuracy
metrics.accuracy_score(y_test, y_predicted_DT)

0.892825054550122

Random forest

In [ ]:
classifier_RF = RandomForestClassifier(n_estimators=80,max_depth=100)

classifier_RF.fit(x_train,y_train)

y_predicted_RF = classifier_RF.predict(x_test)
#test accuracy
metrics.accuracy_score(y_test, y_predicted_RF)

0.9261968938518804

Gradient Boosting Classifier

In [ ]:
classifier_GB = GradientBoostingClassifier(n_estimators=100,learning_rate=.3,max_depth=40,random_state=0)

classifier_GB.fit(x_train,y_train)

y_predicted_GB = classifier_GB.predict(x_test)
#test accuracy
metrics.accuracy_score(y_test, y_predicted_GB)

0.9003978950070595

**Question 3**

In [ ]:
features_df = pd.DataFrame({'features':features.columns, 'importance':classifier_RF.feature_importances_})

In [ ]:
features_df.sort_values('importance', ascending=False)

In [ ]:
sorted_features = features_df.sort_values('importance', ascending=False).head(10)

alt.Chart(sorted_features).mark_bar().encode(x = alt.X("features", sort= '-y'), y= "importance")

**Question 4**

In [ ]:
metrics.plot_confusion_matrix(classifier_RF,x_test,y_test)

In [ ]:
print(metrics.classification_report(y_test,y_predicted))